<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= breadcrumbs(@folder) %>
  </ol>
</nav>

<table class="table table-sm table-striped">
  <tbody>
    <% for folder in @folder.children %>
      <tr>
        <td><%= link_to "<span class=\"bi bi-folder\"></span>&nbsp;#{folder.name}".html_safe, folder %></td>
        <td><%= list_actions(folder) %></td>
      </tr>
    <% end %>
    <%= render @folder.requests %>
  </tbody>
</table>

<% content_for(:actions) do %>
  <% standard_actions do %>
    <%= link_to "New", new_folder_path(folder_id: @folder.id), class: 'btn btn-primary' %>
  <% end %>
<% end %>
