
<%= simple_form_for(@request_example) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= hidden_field_tag :clone_id, @clone_id %>
  <%= hidden_field_tag :clone_type, @clone_type %>

  <div class="form-inputs">
    <%= f.association :request %>
    <%= f.input :name %>
    <%= f.input :content_type %>
    <%= f.input :body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
