<div class="card">
    <div class="card-header">
        Request
    </div>
    <div class="card-body">
        <p>
            <% if request.certificate.present? %>
            <span class="bi bi-file-lock-fill text-warning" title="Uses client certificate"></span>
            <% end %>
            <span class="badge badge-primary"><%= request.method.upcase %></span>
            <span class="url"><%= request.url %></span>
        </p>
        <% if !request.all_request_params.empty? %>
        <h5>Params</h5>
        <ul>
            <% for p in request.all_request_params %>
            <li><%= p.name %> = <%= p.value %>
                (<%= link_to "Edit", edit_request_param_path(p) %> | <%= link_to "Delete", p, method: :delete, data: { confirm: 'Are you sure?' } %>)
            </li>
            <% end %>
        </ul>
        <% end %>
        <% if !request.all_request_headers.empty? %>
        <h5>Headers</h5>
        <ul>
            <% for h in request.all_request_headers %>
            <li><%= h.name %> = <%= h.value %>
            (<%= link_to "Edit", edit_request_header_path(h) %> | <%= link_to "Delete", h, method: :delete, data: { confirm: 'Are you sure?' } %>)
            </li>
            <% end %>
        </ul>
        <% end %>
        <% if request.method.post? || request.method.put? || request.method.patch? %>

        <p>
            <strong>Body:</strong>
        </p>

        <p><i><%= request.content_type %></i></p>

        <pre class="request-body"><code class="<%= request.lang %>"><%= request.body %></code></pre>
        <% end %>
    </div>
</div>