
<%= simple_form_for(@request_param) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :request_id %>
    <%= f.hidden_field :request_example_id %>
    <%= f.input :name %>
    <%= f.input :value, hint: 'Magic values: $UUID, $NOW' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
