<div class="card mt-5 border-<%= @resp.resp_class %>">   
    <div class="card-header">
        Response
    </div>

    <div class="card-body text-<%= @resp.resp_class %>">
        <p>HTTP-Status: <%= @resp.status %>
    </div>
    <div class="card-body">
        <ul>
            <% for h in @resp.headers %>
            <li><%= h[0] %>: <%= h[1] %></li>
            <% end %>
        </ul>
    </div>
    <div class="card-body">
        <pre><code class="<%= @resp.lang %>"><%= @resp.body %></code></pre>
    </div>
    </div>