<h1>Request Logs for <%= @request.name %></h1>

<p>URL: <%= @request.url %></p>
<p>Method: <%= @request.method %></p>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Timestamp</th>
    <th>Request-ID</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @request_logs.each do |request_log| %>
    <tr>
      <td><%=l request_log.created_at %></td>
      <td><%= request_log.request_identifier %></td>
      <td><%= request_log.status_code %></td>
      <td><%= link_to 'Show', request_log %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @request_logs %>

<%= link_to 'Back', @request, class: 'btn btn-primary' %>
