<div class="d-flex">
    <h2 class="flex-grow-1"><%= @request.name %></h2>

    <div>
        <div class="btn-group btn-group-sm">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Examples
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <% for e in @request.request_examples %>
                <%= link_to e.name, e, class: 'dropdown-item' %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<%= render 'request_examples/request_detail', request: @request %>

<div class="btn-group my-2">
  <%= link_to 'Edit', edit_request_path(@request), class: 'btn btn-light' %>
  <%= link_to 'Delete', @request, method: :delete, class: 'btn btn-danger', data: { confirm: "Really sure?" } %>
  <%= link_to 'Clone to example', new_request_example_path(request_id: @request.id, clone: 1), class: 'btn btn-primary' %>
  <%= link_to 'Add Param', new_request_param_path(request_id: @request.id), class: 'btn btn-primary' %>
  <%= link_to 'Add Header', new_request_header_path(request_id: @request.id), class: 'btn btn-primary' %>
  <%= link_to 'Send request', run_request_path(@request), method: :post, remote: true, class: 'btn btn-success' %>
  <%= link_to 'Debug request', run_request_path(@request, debug: 1), method: :post, remote: true, class: 'btn btn-secondary' %>
</div>

<div class="card my-2">
    <div class="card-header">
        Examples
    </div>

    <div class="card-body">
    <ul>
    <% for e in @request.request_examples %>
    <li><%= link_to e.name, e %></li>
    <% end %>
    </ul>
    <%= link_to "New Example", new_request_example_path(request_id: @request.id), class: 'btn btn-primary' %>
    </div>
  </div>

<div id="run-result" class="my-5">
</div>


<% content_for(:actions) { '&nbsp;'.html_safe } %>