<h2><%= @request.name %></h2>

<div class="card">
    <div class="card-header">
        Request
    </div>

    <div class="card-body">
        <p>
            <strong>Url:</strong>
            <%= @request.url %>
        </p>

        <p>
            <strong>Method:</strong>
            <%= @request.method %>
        </p>

        <% if @request.method.post? || @request.method.put? || @request.method.patch? %>

        <p>
            <strong>Content type:</strong>
            <%= @request.content_type %>
        </p>

        <p>
            <strong>Body:</strong>
            <pre><code class="<%= @request.lang %>"><%= @request.body %></code></pre>
            
        </p>
        <% end %>
        <%= link_to 'Run Request', run_request_path(@request), method: :post, remote: true, class: 'btn btn-success' %>
    </div>
</div>
<div id="run-result">
    x
</div>