<div class="d-flex">
  <h2 class="flex-fill"><%= @request.name %></h2>

  <div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Actions
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><%= link_to 'Edit', edit_request_path(@request), class: 'dropdown-item' %></li>
      <li><%= link_to 'Delete', @request, method: :delete, class: 'dropdown-item', data: { confirm: "Really sure?" } %></li>
      <li><hr class="dropdown-divider"></li>
      <li><%= link_to 'Add param', new_request_param_path(request_id: @request.id), class: 'dropdown-item' %></li>
      <li><%= link_to 'Add header', new_request_header_path(request_id: @request.id), class: 'dropdown-item' %></li>
      <li><hr class="dropdown-divider"></li>
      <li><%= link_to 'Show Log', log_request_path(@request), class: 'btn btn-light' %></li>
    </ul>
  </div>
</div>

<%= render 'request_examples/request_examples', request: @request %>
<%= render 'request_examples/request_detail', request: @request %>

<div class="btn-group my-2">
  <%= link_to 'Send request', run_request_path(@request), method: :post, remote: true, class: 'btn btn-success' %>
  <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu ">
    <li><%= link_to 'Debug request', run_request_path(@request, debug: 1), method: :post, remote: true, class: 'dropdown-item' %></li>
  </ul>
</div>

<div id="run-result" class="my-5">
</div>

<%
  require 'cgi'

  def dynamic_values(v)
    if v =~ /^\$UUID$/
      SecureRandom.uuid
    elsif v =~ /^\$RID$/
      SecureRandom.uuid
    elsif v =~ /^\$NOW$/
      DateTime.now.iso8601
    else
      v
    end
  end

  query_string = @request.request_params.select { |p| p.id }.map { |p| "#{CGI.escape(p.name)}=#{CGI.escape(dynamic_values(p.value))}" }.join("&") %>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingCurl">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCurl" aria-expanded="true" aria-controls="accordionCurl">
        cURL
      </button>
    </h2>
    <div id="accordionCurl" class="accordion-collapse collapse" aria-labelledby="headingCurl">
      <div class="accordion-body">
<pre>
      <% if @request.method.post? %>
curl -X POST "<%= @request.url %><%= query_string.present? ? "?#{query_string}" : "" %>" \
<% for h in @request.request_headers.select { |p| p.id } %>
  -H "<%= h.name %>: <%= dynamic_values(h.value) %>" \
<% end  %>
  -H "Content-Type: <%= @request.content_type %>" \
  --data '<%= @request.body %>'
<% elsif @request.method.get? %>
curl -X GET "<%= @request.url %><%= query_string.present? ? "?#{query_string}" : "" %>" \
    <% for h in @request.request_headers.select { |p| p.id } %>
  -H "<%= h.name %>: <%= dynamic_values(h.value) %>" \
<% end  %>
<% else %>
# Not yet supported
<% end %>
</pre>
      </div>
    </div>
  </div>
</div>


<div class="card my-2">
  <div class="card-header">
    Examples
  </div>

  <div class="card-body">
    <ul>
      <% for e in @request.request_examples %>
        <li><%= link_to e.name, e %></li>
      <% end %>
    </ul>
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" id="createExampleDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        New example
      </button>
      <ul class="dropdown-menu" aria-labelledby="createExampleDropdown">
        <li><%= link_to "Create new", new_request_example_path(request_id: @request.id), class: 'dropdown-item' %></li>
        <li><%= link_to 'Clone from here', new_request_example_path(request_id: @request.id, clone: 1), class: 'dropdown-item' %></li>
      </ul>
    </div>
  </div>
</div>



<% content_for(:actions) { '&nbsp;'.html_safe } %>