<h2><%= @request.name %></h2>

<div class="card">
    <div class="card-header">
        Request
    </div>

    <div class="card-body">
        <p>
          <% if @request.certificate.present? %>
          <span class="bi bi-file-lock-fill text-warning" title="Uses client certificate"></span>
          <% end %>
          <span class="badge badge-primary"><%= @request.method %></span>
          <span class="url"><%= @request.url %></span>
        </p>

        <% if @request.request_params.present? %>
          <h5>Params</h5>
          <ul>
          <% for p in @request.request_params %>
            <li><%= p.name %> = <%= p.value %></li>
          <% end %>
          </ul>
        <% end %>

        <% if @request.request_headers.present? %>
          <h5>Headers</h5>
          <ul>
          <% for h in @request.request_headers %>
            <li><%= h.name %> = <%= h.value %></li>
          <% end %>
          </ul>
        <% end %>

        <% if @request.method.post? || @request.method.put? || @request.method.patch? %>

        <p>
            <strong>Body:</strong>
        </p>

        <p><i><%= @request.content_type %></i></p>

        <pre><code class="<%= @request.lang %>"><%= @request.body %></code></pre>
        <% end %>
        <%= link_to 'Add Param', new_request_param_path(request_id: @request.id), class: 'btn btn-secondary' %>
        <%= link_to 'Add Header', new_request_header_path(request_id: @request.id), class: 'btn btn-secondary' %>
        <%= link_to 'Send request', run_request_path(@request), method: :post, remote: true, class: 'btn btn-success' %>
    </div>
</div>
<div id="run-result">
    <i>Please run the request</i>
</div>