<h2><%= @certificate.name %></h2>

<% c = OpenSSL::X509::Certificate.new(@certificate.cert) %>

<p><strong>Subject:</strong> <%= c.subject %></p>
<p><strong>Issuer:</strong> <%= c.issuer %></p>
<p><strong>Serial:</strong> <%= c.serial %></p>
<p><strong>Not Before:</strong> <%= c.not_before %></p>
<p><strong>Not After:</strong> <%= c.not_after %></p>