<!DOCTYPE html>
<html lang="en">
  <head>
    <title>APIBox</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <main>
    <div class="container mt-3">
    <%= yield %>
    <%= content_for?(:actions) ? yield(:actions) : standard_actions %>
    </div>
    </main>
  </body>
</html>
