<!DOCTYPE html>
<html lang="en">

<head>
    <title>APIBox</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= render 'layouts/navbar' %>

    <div class="wrapper d-flex">
        <!-- Sidebar -->
        <nav id="sidebar">
            <h5 class="m-3">Folders</h5>
            <ul class="nav flex-column">
              <%= folder_links(nil) %>
            </ul>
        </nav> <!-- /#sidebar-wrapper -->

        <main class="container">
            <div class="row">
                <%= render 'layouts/messages' %>
            </div>
            <div class="row">
                <%= yield %>
                <%= content_for?(:actions) ? yield(:actions) : standard_actions %>
            </div>
        </main>
    </div>
</body>

</html>